GIS/

commodity/input/
commodity/intermediate/
commodity/output/


scenario/input
scenario/intermediate
scenario/output

cost/input
cost/output

network/input
network/intermediate
network/output


transfers/input
transfers/intermediate
transfers/output

exceptions/Exceptions.xlsx

pythonscripts/

OngoingWork/

Tools/

Plots/

Netdata/Backups/
Netdata/railnet2.1b/
Netdata/railnet2.0b/
Netdata/parameters/

Netdata/*.xnq
Netdata/*.dat
Netdata/*.LMF
Netdata/*.xfr
Netdata/*.PRM
Netdata/*.lvl
Netdata/*.exc
Netdata/*.exe
Netdata/*.RPT
Netdata/*.XCQ





*.mxd
*.ini
*.exp
*.pyc
*.cal
*.lxp
*.kml
*.shp
*.xlsx