gis/

*/input/
*/intermediate/
*/output/


pythonscripts/

OngoingWork/

Tools/

plots/*/

web/*.csv

netdata/*/
netdata/*
!netdata/*.py

web/google_api
web/openlayers_api


*.mxd
*.ini
*.exp
*.pyc
*.cal
*.lxp
*.kml
*.shp
*.out
*.jpg